* {
	box-sizing: border-box;
}

.cards {
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;

	width: 100%;
}

.card {
	display: flex;	
	align-items: center;
	justify-content: center;
	padding: 15px;

	width: 25%;	
}

.card img {
	width: 100%;
	height: auto;
}

.card:nth-child(11) img {
	width: 143%;	
}
